@import '../../vars.scss';

#Loader{
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 10;
    width: 200px;
    transform: translate(calc(100% + 30px), -50%);
    transition: all 0.5s ease;
    .logo{
        background: #fff;
        width: 100%;
        padding: 15px;
        border-radius: $radius;
        img{
            width: 100%;
        }
        p{
            text-align: center;
            margin: 0;
            font-size: 13px;
        }
    }
    &.active{
        transform: translate(0, -50%);
    }
}