#homePage{
    .panelLeft{
        position: relative;
        overflow: hidden;
        height: calc(100vh - 50px);
        display: inline-block;
        width: 70%;
    }
    .panelRight{
        position: relative;
        overflow: hidden;
        height: calc(100vh - 50px);
        display: inline-block;
        width: 30%;
    }
}